body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

#reactionBox {
  background-color: #f44336;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

#reactionBox.green {
  background-color: #4CAF50;
}

#message {
  font-size: 2rem;
  margin: 0;
}

#result {
  font-size: 1.5rem;
  margin-top: 1rem;
}
